In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
import os

# INGESTION

In [4]:
drive.mount('/content/drive/', force_remount=True)

os.getcwd()

Mounted at /content/drive/

'/content'

In [5]:
path1 = '/content/drive/MyDrive/Hamoye/e-commerce_dataset/Amazon_Sale_Report.csv'
if os.path.exists(path1):
    print('Path exists!')
else:
    print("File not found!")

Path exists!

In [6]:
df=pd.read_csv(path1)

<ipython-input-6-b62d5051e0ee>:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(path1)

# EXPLORATION

In [7]:
print(df.head())

   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

        Category  ... currency  Amount    ship-city   ship-state  \
0            Set  ...      INR  647.62       MUMBAI  MAHARASHTRA
1          kurta  ...      INR  406.00    BENGALURU    KARNATAKA
2          kurta  ...      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3  Western Dress  ...      INR  753.33   PUDUCHERRY   PUDUCHERRY
4            Top  ...      INR  574.00      CHENNAI   TAMIL NADU

  ship-postal-code  ship-country  \
0         400081.0            IN
1         560085.0            IN
2         410210.0            IN
3         605008.0            IN
4         600073.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0                                                NaN  False     Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True           NaN
3                                                NaN  False     Easy Ship
4                                                NaN  False           NaN

  Unnamed: 22
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 24 columns]

In [8]:
df.shape

(128975, 24)

In [9]:
print(df.columns)

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [10]:
df.sample(5)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
8800,8800,408-5388464-8904361,04-25-22,Shipped,Amazon,Amazon.in,Expedited,JNE3641,JNE3641-TP-N-S,Top,...,INR,359.0,SHOLAVANDAN,TAMIL NADU,625214.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
77189,77189,407-2021471-2162762,05-09-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3894,JNE3894-TP-XXL,Top,...,INR,749.0,MARGAO,GOA,403601.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
85591,85591,408-4116542-2873921,05-03-22,Shipped,Amazon,Amazon.in,Expedited,JNE3784,JNE3784-KR-M,kurta,...,INR,458.0,HYDERABAD,TELANGANA,500008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
26063,26063,408-7758491-3381130,04-15-22,Shipped,Amazon,Amazon.in,Expedited,JNE3751,JNE3751-KR-L,kurta,...,INR,368.0,BENGALURU,KARNATAKA,560037.0,IN,NaN,False,NaN,NaN
50560,50560,402-6344366-8005136,05-30-22,Shipped,Amazon,Amazon.in,Expedited,J0244,J0244-SKD-S,Set,...,INR,1238.0,CHENNAI,TAMIL NADU,600097.0,IN,NaN,False,NaN,False

In [11]:
import inspect
inspect.getsource(os.path.exists)

'def exists(path):\n    """Test whether a path exists.  Returns False for broken symbolic links"""\n    try:\n        os.stat(path)\n    except (OSError, ValueError):\n        return False\n    return True\n'

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [13]:
df.isna().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [14]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [15]:
df['ship-state'].fillna("Not_Specified", inplace=True)
df['Courier Status'].fillna("Not_Specified", inplace=True)
df['ship-state'].fillna("Not_Specified", inplace=True)
df['Amount'].fillna("Not_Specified", inplace=True)
df.isna().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status            0
Qty                       0
currency               7795
Amount                    0
ship-city                33
ship-state                0
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [16]:
df.drop(columns='currency')

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,0,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,1,406.0,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,1,329.0,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,1,574.0,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,1,517.0,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,1,999.0,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,1,690.0,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,1,1199.0,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,1,696.0,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [17]:
df['Courier Status'].value_counts()

Shipped          109487
Not_Specified      6872
Unshipped          6681
Cancelled          5935
Name: Courier Status, dtype: int64

In [18]:
df.duplicated().sum()

0

In [19]:
df['Courier Status'].value_counts()

Shipped          109487
Not_Specified      6872
Unshipped          6681
Cancelled          5935
Name: Courier Status, dtype: int64

In [20]:
df['Size'].value_counts()

M       22711
L       22132
XL      20876
XXL     18096
S       17090
3XL     14816
XS      11161
6XL       738
5XL       550
4XL       427
Free      378
Name: Size, dtype: int64

In [21]:
set(df['promotion-ids'].sample(2))

{nan}

In [22]:
#To perform analysis on the shipping aspect of this dataset, we could trim our dataframe to have only the required columns
df_ship = df.drop(columns = ['SKU','ship-postal-code','Size','promotion-ids','fulfilled-by','ASIN','Style','Unnamed: 22'], axis = 1 )

In [23]:
df_ship.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Category', 'Courier Status', 'Qty', 'currency',
       'Amount', 'ship-city', 'ship-state', 'ship-country', 'B2B'],
      dtype='object')

In [24]:
pd.to_datetime(df_ship['Date'])

0        2022-04-30
1        2022-04-30
2        2022-04-30
3        2022-04-30
4        2022-04-30
            ...
128970   2022-05-31
128971   2022-05-31
128972   2022-05-31
128973   2022-05-31
128974   2022-05-31
Name: Date, Length: 128975, dtype: datetime64[ns]

In [25]:

#description of objects
df.describe(include = 'O')

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,currency,Amount,ship-city,ship-state,ship-country,promotion-ids,fulfilled-by,Unnamed: 22
count,128975,128975,128975,128975,128975,128975,128975,128975,128975,128975,128975,128975,121180,128975,128942,128975,128942,79822,39277,79925
unique,120378,91,13,2,2,2,1377,7195,9,11,7190,4,1,1411,8955,70,1,5787,1,1
top,171-5057375-2831560,05-03-22,Shipped,Amazon,Amazon.in,Expedited,JNE3797,JNE3797-KR-L,Set,M,B09SDXFFQ1,Shipped,INR,Not_Specified,BENGALURU,MAHARASHTRA,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,Easy Ship,False
freq,12,2085,77804,89698,128851,88615,4224,773,50284,22711,773,109487,121180,7795,11217,22260,128942,46100,39277,79925

In [26]:
#description of numerical data
df.describe().T

,count,mean,std,min,25%,50%,75%,max
index,128975.0,64487.000000,37232.019822,0.0,32243.5,64487.0,96730.5,128974.0
Qty,128975.0,0.904431,0.313354,0.0,1.0,1.0,1.0,15.0
ship-postal-code,128942.0,463966.236509,191476.764941,110001.0,382421.0,500033.0,600024.0,989898.0

In [27]:
print(df['ship-state'].unique())
#from the unique variables, it shows that the ship-state column should be cleaned further because of capitalization differences in categories like 'Goa'

['MAHARASHTRA' 'KARNATAKA' 'PUDUCHERRY' 'TAMIL NADU' 'UTTAR PRADESH'
 'CHANDIGARH' 'TELANGANA' 'ANDHRA PRADESH' 'RAJASTHAN' 'DELHI' 'HARYANA'
 'ASSAM' 'JHARKHAND' 'CHHATTISGARH' 'ODISHA' 'KERALA' 'MADHYA PRADESH'
 'WEST BENGAL' 'NAGALAND' 'Gujarat' 'UTTARAKHAND' 'BIHAR'
 'JAMMU & KASHMIR' 'PUNJAB' 'HIMACHAL PRADESH' 'ARUNACHAL PRADESH'
 'MANIPUR' 'Goa' 'MEGHALAYA' 'GOA' 'TRIPURA' 'LADAKH' 'DADRA AND NAGAR'
 'SIKKIM' 'Delhi' 'Not_Specified' 'ANDAMAN & NICOBAR ' 'Punjab'
 'Rajshthan' 'Manipur' 'rajasthan' 'Odisha' 'NL' 'Bihar' 'MIZORAM'
 'punjab' 'New Delhi' 'Rajasthan' 'Punjab/Mohali/Zirakpur' 'Puducherry'
 'delhi' 'RJ' 'Chandigarh' 'orissa' 'LAKSHADWEEP' 'goa' 'PB' 'APO'
 'Arunachal Pradesh' 'AR' 'Pondicherry' 'Sikkim' 'Arunachal pradesh'
 'Nagaland' 'bihar' 'Mizoram' 'rajsthan' 'Orissa' 'Rajsthan' 'Meghalaya']

In [28]:
df.loc[df['ship-state'].isin(['GOA','goa']),'ship-state'] = 'Goa'
df.loc[df['ship-state'].isin(['PUNJAB','Punjab/Mohali/Zirakpur','PB','punjab']),'ship-state'] = 'Punjab'
df.loc[df['ship-state'].isin(['Rajasthan','rajasthan', 'rajsthan','Rajshthan','Rajsthan','RAJASTHAN',]),'ship-state'] = 'Rajasthan'
df.loc[df['ship-state'].isin(['NL','NAGALAND']),'ship-state'] = 'Nagaland'
df.loc[df['ship-state'].isin(['Puducherry']),'ship-state'] = 'Pondicherry'
df.loc[df['ship-state'].isin(['orissa','Odisha','ODISHA']),'ship-state'] = 'Orissa'
df.loc[df['ship-state'].isin(['SIKKIM']),'ship-state'] = 'Sikkim'
df.loc[df['ship-state'].isin(['bihar']),'ship-state'] = 'Bihar'
df.loc[df['ship-state'].isin(['CHANDIGARH']),'ship-state'] = 'Chandigarh'
df.loc[df['ship-state'].isin(['delhi','New Delhi','DELHI']),'ship-state'] = 'Delhi'

In [29]:
df['Sales Channel '].value_counts()

Amazon.in     128851
Non-Amazon       124
Name: Sales Channel , dtype: int64

"""Possible Questions to be asked:
1. What are the counts of categories of the items?
2. Status of products (shipped, Unshipped, Delivered to buyer ...)


We could also categorize amounts for analysis

In [30]:
# Using cut() - create category ranges and names

#Create bins

bins = [0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, np.inf]
group_names = ['0-100','100-200', '200-300','300-400','400-500','500-600','600-700','700-800','800-900','900-1000', '1000 Above']